<div class="container">
    <div class="form__product">
        <div class="form__product-header">
            <h1>Actualizar Producto</h1>
        </div>
        <div class="form__product-body">
            <form [formGroup]="updateForm">
                <div [ngClass]="isValidControl('id') ? 'field field-error disabled' : 'field disabled'">
                    <label for="ID">ID</label>
                    <input id="ID" type="text" formControlName="id">
                    <span *ngIf="isValidControl('id')">ID no válido!</span>
                </div>
                <div [ngClass]="isValidControl('name') ? 'field field-error' : 'field'">
                    <label for="name">Nombre</label>
                    <input id="name" type="text" placeholder="Tarjeta de Crédito" formControlName="name">
                    <span *ngIf="isValidControl('name')">Nombre no válido!</span>
                </div>
                <div [ngClass]="isValidControl('description') ? 'field field-error' : 'field'">
                    <label for="description">Descripción</label>
                    <input id="description" type="text" formControlName="description">
                    <span *ngIf="isValidControl('description')">Descripción no válido!</span>
                </div>
                <div [ngClass]="isValidControl('logo') ? 'field field-error' : 'field'">
                    <label for="logo">Logo</label>
                    <input id="logo" type="text" formControlName="logo">
                    <span *ngIf="isValidControl('logo')">Logo no válido!</span>
                </div>
                <div [ngClass]="isValidControl('date_release') ? 'field field-error' : 'field'">
                    <label for="date_release">Fecha Liberación</label>
                    <input id="date_release" type="date" (change)="validateDates($event)" formControlName="date_release">
                    <span *ngIf="isValidControl('date_release')">Fecha no válida!</span>
                </div>
                <div class="field disabled">
                    <label for="date_revision">Fecha Revisión</label>
                    <input id="date_revision" type="date" formControlName="date_revision" onkeydown="return false" readonly>
                </div>
                <div class="form-buttons">
                    <button (click)="resetForm()">Reiniciar</button>
                    <button (click)="createProduct()" [disabled]="!updateForm.valid" [ngStyle]="!updateForm.valid ? { 'opacity': '0.5', 'cursor': 'not-allowed' } : {}">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>